<div class="image">
  <%= image_tag("pic_not_available.jpg") %>
</div>
<div class="brief">
  <h2><%= link_to product.name, product %></h2>
  <h5 class="price">￥<%= product.price %></h5>
</div>
<div class="clear"></div>
