<div id='cart-container' style='width:980px;margin: 0px auto;color:black;'>
  
<span style='font-size:24;color:green'>支付成功！请等待商家发货</span>
<br/><br/>

<%= link_to '继续购物', root_path, style: 'color:blue;' %>
</div>