<html>
  <head>
    <meta name="TENCENT_ONLINE_PAYMENT" content="China TENCENT">
    <script language="javascript">
      // window.location.href = "/";
    </script>
  </head>
  <body>
    <div id='cart-container' style='width:980px;margin: 0px auto;color:black;'>

      <span style='font-size:24;color:green'>支付成功！</span>
      <br/><br/>

      <%= link_to '继续购物', root_path, style: 'color:blue;' %>
    </div>  
  </body>
</html>
