.front.orders.index {
  tr:hover {
  	background: lightyellow;
  }

  td {
  	padding: 5px;
  	color: #555;
  }

  td.content {
  	width: 640px;
  }
}

.front.orders.show {
  .order {
  	width: 800px;

  	h5 {
	    text-align: right;
	    color: #555;
  	}

  	p {
	    margin: 15px 0;
  	}
  }
}
